body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f1f1f1;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #2c3e50;
}

#intro {
    font-size: 18px;
    margin-bottom: 30px;
}

#preferido {
    background: blue;
}

#pergunta {
    margin: 20px;
    font-size: 24px;
}

.botoes button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
}

#resultado {
    margin-top: 30px;
    font-size: 22px;
    color: green;
    margin-bottom: 60px;
}


#caminho {
    width: 40%;
    margin: auto;
    background-color: #f9f9f9;
    padding: 16px;
    margin-top: 20px;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
}

#caminho h3 {
    margin-top: 0;
    color: #333;
}

#caminho ul {
    list-style-type: none;
    padding-left: 20px;
}

#caminho li {
    margin-bottom: 6px;
    color: #555;
}

#caminho li strong {
    color: #362020;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}